<div>
	<h1>Datatypes</h1>
	<nav></nav>
	<cell>
		<key>byte</key><br>
		<key>short</key><br>
		<key>int</key><br>
		<key>long</key><br>
		<key>float</key><br>
		<key>double</key><br>
	</cell>
	<cell>
		<key>boolean</key><br>
		<key>char</key><br><br>
		<key>function</key><br>
		<key>type</key>
	</cell>
	<nav></nav>
</div>