<div>
	<h1>Dynamic expressions</h1>
	<nav></nav>
	<cell>
		<key>int</key> a = 1;<br> 
		<key>int</key> b = 2;<br> 
		<key>int</key> c = &lt;a&gt; { a+b };<br><br>
		console.log(c); <comment>//3</comment>
	</cell>
	<cell>
		<key>int</key> a = 1;<br> 
		<key>int</key> b = 2;<br> 
		<key>int</key> c = &lt;a&gt; { a+b };<br><br>
		console.log(c); <comment>//3</comment><br><br>
		a = 2;<br>
		console.log(c); <comment>//4</comment>
	</cell>
	<cell>
		<key>int</key> a = 1;<br> 
		<key>int</key> b = 2;<br> 
		<key>int</key> c = &lt;a&gt; { a+b };<br><br>
		console.log(c); <comment>//3</comment><br><br>
		b = 3;<br>
		console.log(c); <comment>//3</comment>
	</cell><br>
	<cell>
		<key>int</key> a = 1;<br> 
		<key>int</key> b = 2;<br> 
		<key>int</key> c = &lt;a, b&gt; { a+b };<br><br>
		console.log(c); <comment>//3</comment>
	</cell>
	<cell>
		<key>int</key> a = 1;<br> 
		<key>int</key> b = 2;<br> 
		<key>int</key> c = &lt;a, b&gt; { a+b };<br><br>
		console.log(c); <comment>//3</comment><br><br>
		a = 2;<br>
		console.log(c); <comment>//4</comment>
	</cell>
	<cell>
		<key>int</key> a = 1;<br> 
		<key>int</key> b = 2;<br> 
		<key>int</key> c = &lt;a, b&gt; { a+b };<br><br>
		console.log(c); <comment>//3</comment><br><br>
		a = 2;<br>
		console.log(c); <comment>//4</comment><br><br>
		b = 3;<br>
		console.log(c); <comment>//5</comment><br><br>
	</cell>
	<nav></nav>
</div>