<div>
	<h1>Functions</h1>
	<nav></nav>
	<cell>
		<key>function</key> print = (message) {<br>
		<indent>
			console.log(message);
		</indent>
		};<br><br>
		print('hello');<comment>//hello</comment>
	</cell>
	<nav></nav>
</div>