<div>
	<h1>Reference vs value</h1>
	<nav></nav>
	<cell>
		<key>int</key> a = 1;<br>
		<key>int</key> b = a();<br>
		console.log(a);<comment>//1</comment><br>
		console.log(b);<comment>//1</comment><br><br>
		a = 2;<br>
		console.log(a);<comment>//2</comment><br>
		console.log(b);<comment>//1</comment>
	</cell>
	<cell>
		<key>int</key> a = 1;<br>
		<key>int</key> b = a;<br>
		console.log(a);<comment>//1</comment><br>
		console.log(b);<comment>//1</comment><br><br>
		a = 2;<br>
		console.log(a);<comment>//2</comment><br>
		console.log(b);<comment>//2</comment>
	</cell>
	<cell>
		<key>int</key> a = 1;<br>
		<key>int</key> b = a;<br>
		console.log(a);<comment>//1</comment><br>
		console.log(b);<comment>//1</comment><br><br>
		b = 2;<br>
		console.log(a);<comment>//2</comment><br>
		console.log(b);<comment>//2</comment>
	</cell>
	<nav></nav>
</div>