<div>
	<h1>Types</h1>
	<nav></nav>
	<cell>
		<key>type</key> Car = (speed) {<br>
		<indent>
			<key>public int</key> speed = speed;<br>
			<key>private int</key> wheels = 4;<br>
			<key>public function</key> getWheels = () {<br>
				<indent>
					<key>return</key> wheels;
				</indent>
			};
		</indent>
		};<br><br>
		Car c = Car(250);<br>
		console.log(c.speed);<comment>//250</comment><br>
		console.log(c.getWheels());<comment>//4</comment><br><br>
		c.getWheels() = 3;<br>
		console.log(c.getWheels());<comment>//3</comment>
	</cell>
	<cell>
		<key>type</key> Car = (speed) {<br>
		<indent>
			<key>public int</key> speed = speed;<br>
			<key>private final int</key> wheels = 4;<br>
			<key>public function</key> getWheels = () {<br>
				<indent>
					<key>return</key> wheels;
				</indent>
			};
		</indent>
		};<br><br>
		Car c = Car(250);<br><br>
		<error>c.getWheels() = 3;</error><br>
		<error>c.getWheels()++;</error><br>
		c.getWheels()()++;<br>
		console.log(c.getWheels());<comment>//3</comment>
	</cell>
	<cell>
		<key>type</key> Vehicle = () {<br>
		<indent>
			<key>public int</key> speed;<br>
			<key>private final int</key> wheels = 4;<br>
			<key>public function</key> getWheels = () {<br>
				<indent>
					<key>return</key> wheels;
				</indent>
			};
		</indent>
		};<br><br>
		<key>type</key> Car <key>extends</key> Vehicle = (speed) {<br>
		<indent>
			<key>super</key>.speed = speed;<br>
			<key>public int</key> doors;<br>
		</indent>
		};<br><br>
		Car c = Car(250);<br>
		Vehicle c2 = Car(188);
	</cell>
	<nav></nav>
</div>