html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 120%;
	background: #333333;
	color: white;
}

h1 {
	margin-left: 20px;
}

p {
	margin-left: 20px;
}

a {
	margin-right: 20px;
}

a:HOVER {
	cursor: pointer;
	color: purple;
}

.cell {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	border: solid;
	border-color: white;
}

.indent {
	display: inline-block;
	margin-left: 20px;
}

.key {
	color: purple;
}

.comment {
	color: green;
	margin-left: 20px;
	float: right;
}

.error {
	color: red;
}